In [40]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import stop_words
import seaborn as sns
cvec = CountVectorizer(stop_words = stop_words.ENGLISH_STOP_WORDS)

In [41]:
custom_stopwords = ['000', '01', '06', '08','10254', '12', '15',
                   '19', '2018', '22', '25', '28', '45', '500',
                   'cox', 'norfolk', 'apply', 'com', 'www', 'applications', 'application',
                   'applicants', 'southern', 'https', 'ia', 'var', 'indeedapply', 'env',
                   'atlanta', 'opportunity', 'iip', 'gender', 'location', 'new', 'employer',
                   'midtown', 'manheim', 'ml', 'including', 'llc', 'truck', 'automotive', 'nationality', 
                   'nation', 'iot', 'kelley', 'hopea', 'date', 'incadea', 'honeywell', '100', '1372', '27', '300',
                   '30308', '30309', '59', '60', '666', '715', '800', '850', '89', '90', 'ga', 'geo', 'genetic',
                    'mercedes', 'marta', 'lunch', 'familimarity', 'fitting', 'floors', 'furthermore', 'living', 
                    'make', 'members', 'family', 'req149533', 'requisition', 'freshman', 'sophomore', 'et', 'etc',
                    'etl', 'job', 'invest', 'member', 'eye', 'relocation', 'Unnamed', 'wework', 'yarn', 'yrs',
                    'test', 'intent', 'intermediete', 'key', 'inflection', 'informatica', 'way', 'recent', 'fewer',
                    'iteratively', 'joining', 'd3', 'bi', 'bs', 'alteryx', 'benz', 'ai', 'arcgis', 'talend', 'al',
                    'bus', 'cassandra', 'growing', 'growth', 'guidance', 'bigdata', 'bigquery', 'cotiviti', 
                    'councils', 'like', 'located', 'devops', 'usa', 'winning', 'ex', 'awesome', 'address', 
                    'assurance', 'pig', 'needed', 'id', 'integral', 'impeccable', 'arts', 'auditing', 'community',
                    'commuter', 'jobs', 'help', 'js', 'human', 'variety', 'stipend', 'rewards', 'sharting', 
                    'daimler', 'degreepreferred', 'advisors', 'characteristics', 'draw', 'donor', 'creek', 'dental',
                    'medical', 'survival', '0064382_p0223181', '10', '1553', '2016', '24', '30327', '401',
                    'experiencepredictive', 'emory', 'caffe2', 'caffe', 'workingmother',
                    
                    
                    
                   ]

In [44]:
# new list = default list stop_words.ENGLISH_STOP_WORDS
# new list.append(whatever)

# cvec = CountVectorizer(stop_words = new list)

new_stop = list(stop_words.ENGLISH_STOP_WORDS)

new_stop.extend(custom_stopwords)


cvec = CountVectorizer(stop_words = new_stop, min_df=15)

In [45]:
bullets = pd.read_csv('Bullets')
bullets

                                                     0
0    Analyzing, processing, evaluating and document...
1    Identifying/developing appropriate machine lea...
2    Prototyping tools and techniques to solve comp...
3    Developing data driven models to quantify the ...
4    Applying, modifying and inventing algorithms t...
5    Validating entity resolution and linking capab...
6                  Conducting ROI and benefit analysis
7    Documenting and presenting process and perform...
8    3-5 Years' Experience in SQL/HiveQL, Python, S...
9    Experienced with advanced entity techniques an...
10                                   Bachelor's Degree
11                  Data Scientist jobs in Atlanta, GA
12                      Jobs at Equifax in Atlanta, GA
13              Data Scientist salaries in Atlanta, GA
14   Curious: You enjoy peeling apart a problem and...
15   Creative: You constantly invent and try new ap...
16   Practical: You explore theories with an eye to...
17   Focused: You're intent on designing and testin...
18   Determined: You will have both the challenge a...
19   Function as Data Scientist which carries the e...
20   Participate in product development with leader...
21   Define the software architecture of the growin...
22   MS or PhD. Degree in relevant discipline (Math...
23         3+ years’ experience in advanced analytics.
24   3+ years’ experience in a data architecture ro...
25   Experience delivering solutions in an Agile en...
26   Working knowledge of the Hadoop ecosystem (inc...
27   Proficiency in fully architecting and executin...
28   Proficiency with Node.js and SQL; Expert profi...
29   Experience in machine learning, artificial int...
..                                                 ...
890  Experience building and optimizing ‘big data’ ...
891  Experience performing root cause analysis on i...
892  Strong analytic skills related to working with...
893  Build processes supporting data transformation...
894  A successful history of manipulating, processi...
895  Experience supporting and working with cross-f...
896  Proficient understanding of distributed comput...
897  Develop and update test plans, procedures and ...
898  Execute developed test procedures and document...
899  Technically coordinate with a cross-functional...
900  Maintain and create test scripts, files and da...
901  Work in an integrated product team and underst...
902  Utilize existing system specifications, interf...
903  Ensure that all technical work is performed an...
904  Develop test estimates for proposed work and s...
905  A Bachelor's degree in Computer Science, Elect...
906  Experience in test engineering processes and m...
907       Manual, ad hoc, black and white box testing.
908  Strong collaboration, organization, teaming an...
909  Ability to work well individually or in a grou...
910  Ability to work under pressure and time constr...
911  Ability to create and deliver technical presen...
912              Python or similar scripting language.
913  Experience with MIL-STD-1553 data bus, avionic...
914  Experience with system security and safety eng...
915  Experience with configuration management and r...
916  Experience directing small teams of employees ...
917                  Test Engineer jobs in Atlanta, GA
918  Jobs at Georgia Tech Research Institute in Atl...
919              Test Engineer salaries in Atlanta, GA

[920 rows x 1 columns]

In [46]:
bullets['0'][6]

'Conducting ROI and benefit analysis'

`cvec.fit()` will be expecting a pandas Series of text objects:

In [47]:
cvec.fit(bullets['0'])
new_corpus = cvec.transform(bullets['0'])
new_corpus

<920x87 sparse matrix of type '<class 'numpy.int64'>'
	with 3009 stored elements in Compressed Sparse Row format>

In [48]:
new_corpus.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [49]:
df  = pd.DataFrame(new_corpus.todense(),
                   columns=cvec.get_feature_names())

df.head()

df.sort_values('data', ascending=False).head(10)

,ability,able,advanced,algorithms,analysis,analytical,analytics,big,build,building,...,technical,techniques,technologies,tools,understanding,using,visualization,work,working,years
824,0,0,0,0,3,0,0,0,0,1,...,2,0,1,0,2,2,0,1,0,0
865,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
491,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
609,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
470,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
870,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
868,0,0,0,0,0,0,0,1,1,0,...,0,0,1,0,0,1,0,0,0,0
196,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [77]:
df.head()

,ability,able,advanced,algorithms,analysis,analytical,analytics,big,build,building,...,technical,techniques,technologies,tools,understanding,using,visualization,work,working,years
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
df.to_csv('Technical_Word_Rank.csv')

In [50]:
df.sum().sort_values(ascending=False)

data             350
experience       180
business          83
scientist         79
learning          76
science           67
machine           64
statistical       62
engineering       58
analysis          55
models            55
years             54
techniques        54
skills            52
ability           51
advanced          50
analytics         50
knowledge         49
develop           44
python            44
sql               42
strong            42
degree            41
modeling          40
tools             40
salaries          39
work              37
statistics        36
design            35
research          34
                ...
understanding     21
databases         21
management        20
mathematics       20
relational        20
processing        20
support           19
communication     18
communicate       18
sources           18
problems          18
developing        18
spark             17
plus              17
insights          17
processes         17
product           17
opportunities     16
senior            16
able              16
visualization     16
results           16
master            16
methods           15
deep              15
build             15
identify          15
hive              15
sets              15
building          15
Length: 87, dtype: int64

In [51]:
#clean it up by importing STOP Words

from sklearn.feature_extraction import stop_words
 
print(stop_words.ENGLISH_STOP_WORDS)

frozenset({'latterly', 'per', 'therein', 'under', 'he', 'upon', 'fill', 'nevertheless', 'same', 'thru', 'i', 'two', 'give', 'someone', 'always', 'only', 'where', 'other', 'toward', 'her', 'since', 'yet', 'into', 'ourselves', 'fifty', 'twenty', 'system', 'latter', 'before', 'was', 'eg', 'everyone', 'still', 'see', 'then', 'towards', 'each', 'along', 'thereafter', 'back', 'there', 'any', 'we', 'inc', 'of', 'every', 'between', 'thereupon', 'though', 'above', 'call', 'his', 'meanwhile', 'six', 'together', 'whenever', 'few', 'down', 'been', 'well', 'already', 'a', 'amongst', 'whither', 'name', 'nowhere', 'whether', 'first', 'wherever', 'amoungst', 'co', 'no', 'whence', 'former', 'hers', 'again', 'too', 'who', 'will', 'almost', 'hasnt', 'are', 'beforehand', 'may', 'mostly', 'namely', 'next', 'own', 'side', 'anywhere', 'perhaps', 'am', 'besides', 'something', 'those', 'couldnt', 'many', 'eight', 'because', 'less', 'whoever', 'herself', 'nor', 'across', 'why', 'but', 'mine', 'seem', 'these', 'cannot', 'onto', 'than', 'yourself', 'beside', 'another', 'must', 'nobody', 'last', 'part', 'yours', 'else', 'such', 'wherein', 'fire', 'while', 'without', 'have', 'done', 'thence', 'over', 'bottom', 'from', 'therefore', 'their', 'made', 'sometimes', 'hereby', 'further', 'which', 'interest', 'you', 'seemed', 'is', 'indeed', 'one', 'four', 'do', 'several', 'what', 'yourselves', 'against', 'least', 'be', 'others', 'so', 'how', 'sixty', 'on', 'us', 'might', 'five', 'beyond', 'herein', 'some', 'anyhow', 'empty', 'put', 'ever', 'whom', 'or', 'third', 'afterwards', 'themselves', 'and', 'bill', 'whatever', 'anything', 'him', 'within', 'below', 'formerly', 'during', 'twelve', 'becomes', 'hundred', 'for', 'also', 'with', 'show', 'should', 'seeming', 'would', 'itself', 'an', 'ltd', 'front', 'find', 'very', 'whereupon', 'either', 'otherwise', 'thus', 'never', 'through', 'its', 'detail', 'except', 'found', 'forty', 'nine', 'they', 'were', 'had', 'all', 'among', 'himself', 'un', 'both', 'myself', 'somewhere', 'in', 'become', 'me', 'move', 'sincere', 'once', 'throughout', 'everywhere', 'please', 'via', 'mill', 'fifteen', 'thin', 'more', 'most', 'often', 'whereafter', 'serious', 'keep', 'although', 'behind', 'hence', 'due', 'top', 'get', 'anyway', 'describe', 'if', 'noone', 'neither', 'my', 'out', 'anyone', 'to', 'here', 'became', 'alone', 'off', 'however', 'ours', 'whereas', 'eleven', 'thereby', 'that', 'as', 'even', 'by', 'whole', 're', 'nothing', 'ten', 'the', 'at', 'them', 'when', 'around', 'hereafter', 'becoming', 'this', 'it', 'amount', 'take', 'con', 'etc', 'full', 'enough', 'has', 'sometime', 'go', 'hereupon', 'thick', 'whereby', 'can', 'she', 'cry', 'none', 'somehow', 'whose', 'about', 'up', 'three', 'until', 'not', 'much', 'being', 'cant', 'rather', 'ie', 'after', 'everything', 'our', 'now', 'could', 'your', 'moreover', 'de', 'seems', 'elsewhere'})

In [61]:
df.sum().sort_values(ascending=False)

data             350
experience       180
business          83
scientist         79
learning          76
science           67
machine           64
statistical       62
engineering       58
analysis          55
models            55
years             54
techniques        54
skills            52
ability           51
advanced          50
analytics         50
knowledge         49
develop           44
python            44
sql               42
strong            42
degree            41
modeling          40
tools             40
salaries          39
work              37
statistics        36
design            35
research          34
                ...
understanding     21
databases         21
management        20
mathematics       20
relational        20
processing        20
support           19
communication     18
communicate       18
sources           18
problems          18
developing        18
spark             17
plus              17
insights          17
processes         17
product           17
opportunities     16
senior            16
able              16
visualization     16
results           16
master            16
methods           15
deep              15
build             15
identify          15
hive              15
sets              15
building          15
Length: 87, dtype: int64

In [62]:
#save cleaned up dataframe

df.to_csv('Word Rank')

In [63]:
df1 = pd.read_csv('Word Rank')

In [64]:
df1.sum().sort_values(ascending=False)

Unnamed: 0       422740
data                350
experience          180
business             83
scientist            79
learning             76
science              67
machine              64
statistical          62
engineering          58
analysis             55
models               55
years                54
techniques           54
skills               52
ability              51
analytics            50
advanced             50
knowledge            49
python               44
develop              44
strong               42
sql                  42
degree               41
tools                40
modeling             40
salaries             39
work                 37
statistics           36
design               35
                  ...
understanding        21
databases            21
management           20
relational           20
mathematics          20
processing           20
support              19
problems             18
sources              18
communicate          18
communication        18
developing           18
spark                17
processes            17
insights             17
plus                 17
product              17
opportunities        16
senior               16
able                 16
master               16
visualization        16
results              16
sets                 15
build                15
building             15
identify             15
methods              15
deep                 15
hive                 15
Length: 88, dtype: int64

In [65]:
list(df1.columns.values)

['Unnamed: 0',
 'ability',
 'able',
 'advanced',
 'algorithms',
 'analysis',
 'analytical',
 'analytics',
 'big',
 'build',
 'building',
 'business',
 'communicate',
 'communication',
 'complex',
 'computer',
 'data',
 'database',
 'databases',
 'deep',
 'degree',
 'design',
 'develop',
 'developing',
 'development',
 'engineering',
 'experience',
 'field',
 'hadoop',
 'hive',
 'identify',
 'insights',
 'knowledge',
 'languages',
 'large',
 'learning',
 'machine',
 'management',
 'master',
 'mathematics',
 'methods',
 'mining',
 'modeling',
 'models',
 'opportunities',
 'performance',
 'plus',
 'predictive',
 'preferred',
 'problems',
 'processes',
 'processing',
 'product',
 'programming',
 'python',
 'quantitative',
 'related',
 'relational',
 'required',
 'research',
 'results',
 'salaries',
 'science',
 'scientist',
 'senior',
 'sets',
 'skills',
 'software',
 'solutions',
 'sources',
 'spark',
 'sql',
 'statistical',
 'statistics',
 'strong',
 'support',
 'systems',
 'team',
 'technical',
 'techniques',
 'technologies',
 'tools',
 'understanding',
 'using',
 'visualization',
 'work',
 'working',
 'years']

In [66]:
df1.sum().sort_values(ascending=True)

hive                 15
deep                 15
methods              15
identify             15
building             15
build                15
sets                 15
results              16
visualization        16
master               16
able                 16
senior               16
opportunities        16
product              17
plus                 17
insights             17
processes            17
spark                17
developing           18
communication        18
communicate          18
sources              18
problems             18
support              19
processing           20
mathematics          20
relational           20
management           20
databases            21
understanding        21
                  ...
design               35
statistics           36
work                 37
salaries             39
modeling             40
tools                40
degree               41
sql                  42
strong               42
develop              44
python               44
knowledge            49
advanced             50
analytics            50
ability              51
skills               52
techniques           54
years                54
models               55
analysis             55
engineering          58
statistical          62
machine              64
science              67
learning             76
scientist            79
business             83
experience          180
data                350
Unnamed: 0       422740
Length: 88, dtype: int64

In [67]:

df_x = df1.sum().sort_values(ascending=True)

In [68]:
df_x.to_csv('Count of Words-Technical.csv')

In [85]:
df_x.to_csv('Technical Text')

In [70]:
df1.sum().sort_values() > 5

hive             True
deep             True
methods          True
identify         True
building         True
build            True
sets             True
results          True
visualization    True
master           True
able             True
senior           True
opportunities    True
product          True
plus             True
insights         True
processes        True
spark            True
developing       True
communication    True
communicate      True
sources          True
problems         True
support          True
processing       True
mathematics      True
relational       True
management       True
databases        True
understanding    True
                 ...
design           True
statistics       True
work             True
salaries         True
modeling         True
tools            True
degree           True
sql              True
strong           True
develop          True
python           True
knowledge        True
advanced         True
analytics        True
ability          True
skills           True
techniques       True
years            True
models           True
analysis         True
engineering      True
statistical      True
machine          True
science          True
learning         True
scientist        True
business         True
experience       True
data             True
Unnamed: 0       True
Length: 88, dtype: bool

In [86]:
df1.sum().sort_values()[df1.sum().sort_values() > 15].index

Index(['results', 'visualization', 'master', 'able', 'senior', 'opportunities',
       'product', 'plus', 'insights', 'processes', 'spark', 'developing',
       'communication', 'communicate', 'sources', 'problems', 'support',
       'processing', 'mathematics', 'relational', 'management', 'databases',
       'understanding', 'preferred', 'required', 'database', 'large', 'hadoop',
       'big', 'predictive', 'technologies', 'quantitative', 'analytical',
       'software', 'languages', 'related', 'mining', 'solutions',
       'performance', 'field', 'working', 'complex', 'technical',
       'development', 'team', 'programming', 'systems', 'algorithms', 'using',
       'computer', 'research', 'design', 'statistics', 'work', 'salaries',
       'modeling', 'tools', 'degree', 'sql', 'strong', 'develop', 'python',
       'knowledge', 'advanced', 'analytics', 'ability', 'skills', 'techniques',
       'years', 'models', 'analysis', 'engineering', 'statistical', 'machine',
       'science', 'learning', 'scientist', 'business', 'experience', 'data',
       'Unnamed: 0'],
      dtype='object')